* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border for presentation */
    border: 1px solid red;
}
header {
    background-color: chartreuse;
    color: blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav {
    text-align: right;
    padding: 10px;
}
ul li {
    display: inline;
}
main {
    padding-top: 40px;
    text-align: center;
    background-color: yellow;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: auto;
}
#contact {
    width: 60%;
    margin: auto;
    background-color: chartreuse;
}

#contact form input,
#contact form label {
    display: block;
}

#contact form input {
    width: 100%;
    padding: 5px;
}

button {
    border-radius: 5px;
    background-color: chartreuse;
    padding: 3px;
}